html {  box-sizing: border-box;height:100%;}
*, *:before, *:after {box-sizing: inherit;}
/*body {font-family:'Trebuchet MS';font-size:13px;height:100%;background:#05acd6;}*/
body {font-family: 'Open Sans', sans-serif;font-size:13px;height:100%;background:#05acd6;}

canvas {-moz-user-select: none;-webkit-user-select: none;-ms-user-select: none;}

.topContainer {color:#0293bc;display:block;}
.txtBlue {color:#01325d !important;}

.text-align-left {text-align:left !important;}
.text-align-right {text-align:right !important;}
.text-align-center {text-align:center !important;}

.tpRightNav ul {padding:0px;margin:0px;margin-bottom:0px !important;}
.tpRightNav li {list-style:none;display:inline-block;}
.tpRightNav li a {padding: 18px 15px 15px 15px;color:#fff;display:block;text-decoration:none;}
.tpRightNav li a:hover {background-color: rgba(0, 0, 0, .4);}
.tpRightNav .dropdown-menu {width:235px;border-radius:0px;background:#000;padding-top:15px;padding-bottom:15px;}
.tpRightNav li .signupBtn {border-radius:0px;background:#af9930;color:#FFF;padding:7px 15px;}
.tpRightNav li .signupBtn:hover {border-radius:0px;background:#af9930;color:#FFF;padding:7px 15px;}
.tpRightNav .sf {font-size:10px;color:#fff;position:relative;}
.tpRightNav .sf a {padding:5px 0px;position:absolute;right:0px;top:0px;}
.tpRightNav .sf label {padding-top:5px;}
.tpRightNav .sf label input {margin-top:2px;}
.tpRightNav .dropdown-menu .btn-login {background:#ddb240;color:#000;border:0px;padding:10px;}
.tpRightNav .dropdown-menu .btn-default {background:#666666;color:#fff;border:0px;padding:10px;}
.tpRightNav .signIn li {display:block !important;}
.tpRightNav .signIn li a:hover {color:#fff}

.logo {text-align:left;font-size:35px;text-shadow: 2px 2px 0 rgba(0, 0, 0, .15);font-weight:700;color:#fff;box-sizing:border-box;padding:100px 0px 5px 0px;font-family:'Cabin', sans-serif;}
.logo_small {text-align:left;font-size:20px;text-shadow: 2px 2px 0 rgba(0, 0, 0, .20);font-weight:400;color:#fff;box-sizing:border-box;padding:0px ;font-family:'Cabin', sans-serif;text-decoration:none;position:absolute;white-space:nowrap;top:13px;left:40px;}
.logo_small:hover {color:#fff;text-decoration:none;}

.logoBig {border-radius: 50px;background:#fe6949;width:40px;height:40px;display:inline-block;text-align:center;line-height:40px;margin-right:15px;}
.logoBig img {width:100%;max-width:27px;height:auto;}

.logofooter {border-radius: 30px;background: #fe6949;width: 30px;height: 30px;display: inline-block;text-align: center;line-height: 30px;}
.logofooter img {width:100%;max-width:22px;height:auto;}

.txtOrange {color:#FE6949;}

.searchLine {text-align:left;font-size:25px;font-weight:300;color:#fff;box-sizing:border-box;padding:0px 0px 15px 0px;}
.searchLine span {font-weight:800;text-transform:uppercase;}
.searchMain {box-sizing:border-box;padding:0px 0px 15px 0px;}
.noPaddingLR {padding-right:0px !important;padding-left:0px !important;}
.noPaddingL {padding-left:0px !important;}
.noPaddingR {padding-right:0px !important;}
.padding-left-15 {padding-left:15px;}
.padding-right-15 {padding-right:15px;}
.padding-top-15 {padding-top:15px;}
.padding-bottom-15 {padding-bottom:15px;}
.padding-top-30 {padding-top:30px;}
.padding-bottom-30 {padding-bottom:30px;}
.padding30 {padding:30px;}
.margin-bottom-5 {margin-bottom:5px;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-bottom-20 {margin-bottom:20px;}
.margin-bottom-30 {margin-bottom:30px;}
.margin-top-5 {margin-top:5px;}
.margin-top-10 {margin-top:10px;}
.margin-top-20 {margin-top:20px;}
.margin-top-30 {margin-top:30px;}
.margin-left-15 {margin-left:15px;}
.margin-right-15 {margin-right:15px;}

.overflowCustom {overflow:hidden;}
hr {border-color:#bfbfbf;}

.b-l {border-left:1px solid #fff;}
.b-r {border-right:1px solid #fff;}

.navbar {margin-bottom:0px !important;border-radius:0px !important;}
.navbar-default {background:none !important;border:none !important;}
.navbar-default .navbar-nav > li > a {color:#fff;}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {color:#fff;}
.navbar-brand {font-family: 'Montserrat', sans-serif;font-size:23px;font-weight:300;color:#01325D !important;padding-top:6px;padding-left:0px;margin-left:0px !important;}
.navbar-brand span {font-weight:300;font-size:20px;}

.customNav {background:#01325d;}
.customNav ul li a:hover {background:#f1f1f1;}
.customNav .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background:#fe6949;color:#fff;}
.customNav .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > .navbar-default .navbar-nav > .open > a:focus {background:#fe6949;color:#fff;}

.topSearch {position:relative;margin-bottom:0;margin-top:7px;}
.topSearch input {border-radius:20px;}
.topSearch button {position:absolute;top:50%;right:0px;margin-top:-9px;border:0;background:none;color:#01325d;}

.customTopNav {background:#fff;}
.customTopNav ul li a:hover {background:#f1f1f1;}
.customTopNav .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {background:#fff;color:#fff;}
.customTopNav .dropdown-menu .dropdown-toggle {display:none;}

#content {width:0px;height:20px;overflow:hidden;}

.notifyBase {position:relative;display:inline-block;width:35px;height:35px;line-height:35px;text-align:center;background:#01325d;color:#fff;margin-top:7px;border-radius:35px;margin-left:10px;margin-right:10px;padding:8px !important;}
.notifyBase:hover {position:relative;display:inline-block;width:35px;height:35px;text-align:center;background:#01325d !important;color:#fff;margin-top:7px;border-radius:35px;margin-left:10px;margin-right:10px;padding:8px !important;}

.profilePic {width:100%;max-width:30px !important;height:auto;border-radius:30px;}
.bgWhite {background:#fff;position:relative;}
.bgGrey {background:#f1f1f1;padding:40px 20px;overflow:hidden;position:relative;}

.comment {}
.comment h5{margin-top:20px;} 
.comment ul {margin:0px;padding:0px;}
.comment li {list-style:none;box-sizing:border-box;padding:0px 20px 70px 60px;line-height:47px;font-size:13px;color:#000;position:relative;}
.comment li:after {position:absolute;content:'';width:15px;height:63px;background:url(../images/downArrow.png) center center no-repeat;bottom:4px;left:16px;}
.comment li:last-child:after {display:none;}
.comment li:last-child {list-style:none;box-sizing:border-box;padding:0px 20px 30px 60px;line-height:47px;font-size:13px;color:#000;position:relative;}
.comment li img {position:absolute;left:0px;top:0px;width: 100%;max-width: 47px;height: auto;}
.comment li span {line-height:normal;display:inline-block;vertical-align:middle;}

.heading {background:#fff;padding:15px 20px;overflow:hidden;}
.heading h1 {color:#01325d;font-size:24px;font-weight:400;display:inline-block;margin-top:4px;}
.heading button {border:0;background:#fe6949;color:#fff;border-radius:5px;padding:6px 15px;font-size:14px;margin-top:3px;}

.nav-tabs > li {margin-bottom:-2px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {background:#01325d;color:#fff;border:0;}
.nav-tabs {border-bottom:5px solid #01325d;}
.nav-tabs > li > a {border-radius:0px;}
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus {background:none;border:1px solid transparent;}

.notifications {}
.notifications .notifyNos {position:absolute;border-radius:3px;background:#ff0000;color:#fff;top:2px;right:-3px;font-size:10px;box-sizing:border-box;padding:0px 4px;line-height:normal;}
.notifications .notifyHead {background:#f6bb63;color:#0f1c3c;box-sizing:border-box;padding:10px;font-weight:700;}
.notifications .dropdown-menu {padding:0px;border-radius:0px;width:250px;border-bottom:5px solid #fe6949;}
.notifications .dropdown-menu > li {text-align:left;border-bottom:1px solid #e1e1e1;position:relative;}
.notifications .dropdown-menu > li i {position:absolute;left:15px;top:10px;color:#5e636e;font-size:14px;}
.notifications .dropdown-menu > li > a {padding:10px 15px 10px 15px !important;font-weight:600;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.notifications .dropdown-menu > li > a span {font-size:13px;color:#666;display:block;font-weight:300;}
.notifications .dropdown-menu > li.notifyFooter {background:#e9e9e9;color:#0f1c3c;box-sizing:border-box;padding:10px;text-align:right;}
.notifications .dropdown-menu > li.notifyFooter a {color:#0f1c3c;font-weight:700;padding:3px 10px 3px 10px !important;background:none !important;}

.ctm_radio {border:1px solid #ccc;overflow:hidden;box-sizing:border-box;border-radius:6px;}
.ctm_radio input[type=radio] {visibility:hidden;height:auto;}
.ctm_radio label {margin-bottom:0px;box-sizing:border-box;cursor:pointer;position:relative;border-right:1px solid #e1e1e1;text-align:center;color:#000;font-weight:300;font-size:13px;padding-top:6px !important;}
.ctm_radio label:last-child {border-right:none;} 
.btnAmPm {background-color: #ffffff;color: #000;height: 36px;border-color: #cccccc !important;box-sizing:border-box;padding-top:0px !important;}
.btnAmPm_selected {background-color: #af9930 !important;color:#ffffff !important;box-sizing:border-box;font-weight:600 !important;}
.forMultiselect input {height:auto;margin-right:10px;box-shadow:none;border-radius:5px;}

.btn-file {position: relative;overflow: hidden;background:#af9930;color:#fff;padding:8px 20px;border:0px;font-size:15px;font-family: 'Open Sans', sans-serif;}
.btn-file:hover {background:#af9930;color:#fff;padding:8px 20px;border:0px;	} 
.btn-file input[type=file] {position: absolute;top: 0;right: 0;min-width: 100%;min-height: 100%;font-size: 100px;text-align: right;filter: alpha(opacity=0);opacity: 0;outline: none;background: white;cursor: inherit;display: block;}

.footer	{background:#fff;padding:10px;box-sizing:border-box;font-size:12px;border-top:#e1e1e1 1px solid;}
.footer h1 {font-size:30px;color:#fff;font-weight:300;text-align:center;padding:25px 0px 20px 0px;display:block;box-sizing:border-box;}
.footer input {padding:15px;color:#333;font-size:15px;font-weight:500;height:50px;}
.footer .subscribe {position:relative;}
.footer .subscribe button {position:absolute;top:50%;margin-top:-12px;right:25px;border:0px;background:none;font-size:22px;}
.footer .socialButton {margin-top:40px;margin-bottom:40px;}
.footer .socialButton img {max-width:175px;width:100%;height:auto;}
.footer .footerLinks {margin-bottom:40px;text-align:center;}
.footer .footerLinks ul {margin:0px;padding:0px;color:#fff;}
.footer .footerLinks li {list-style:none;display:inline-block;font-size:13px;}
.footer .footerLinks li a {color:#fff;text-decoration:none;padding:7px 20px;font-size:13px;}
.footer .copyright {color:rgba(255, 255, 255, .5);font-size:10px;}
.footer .copyright .txt {padding-top:10px;}
.footer .copyright img {padding-left:15px;max-width:40px;width:100%;height:auto;vertical-align:middle;}

.apply {background:#ddb240 !important;border:none;color:#fff !important;font-size:14px !important;}
.btn-Apply {border:2px solid #fff !important; padding:4px 30px;background-color: rgba(0, 0, 0, .2) !important;color:#fff;transition: 0.3s;text-transform:uppercase;font-size:20px;}
.btn-Apply:hover {background-color: rgba(0, 0, 0, .6) !important;color:#fff;}

/* Left Navigation CSS */
.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #111;overflow-x: hidden;transition: 0.5s;padding-top: 60px;}
.sidenav a {padding: 8px 8px 8px 32px;text-decoration: none;font-size: 18px;color: #818181;display: block;transition: 0.3s;}
.sidenav a:hover, .offcanvas a:focus{color: #f1f1f1;}
.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
#main {transition: margin-left .5s;padding:18px 16px 16px 16px;color:#fff;position:relative;}

.refine button.accordion {background-color: #fff;color: #444;cursor: pointer;padding: 18px;width: 100%;text-align: left;border: none;outline: none;transition: 0.4s;font-weight:700;}
.refine button.accordion.active::after {content: "−";}
.refine button.accordion::after {color: #777;content: "+";float: right;font-size: 13px;font-weight: bold;margin-left: 5px;}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.refine button.accordion.active, button.accordion:hover {background-color: #f1f1f1;}
/* Style the accordion panel. Note: hidden by default */
.refine div.panel {padding: 0 25px;background-color: white;display: none;border-radius:0px;border:0px;margin-bottom:10px;box-shadow:none;}
.refine a {display:block;padding:7px 0px;color:#333;position:relative;border-bottom:1px solid #f1f1f1;}
.refine a:hover {color:#333;text-decoration:underline;}
.refine a span {right:0px;top:10px;color:#CCC;font-size:12px;position:absolute;text-decoration:none;}

/* Modal CSS */
.modal-content {border-radius:0px;background: url(../img/modalBg.jpg) top left no-repeat #fff;background-size:100% auto;border:0;border-bottom:5px solid #01325d;padding-bottom:20px;}
.modal-header {color:#01325d;border-radius:0px;border-bottom:0;}
.modal-header .close {color:#000;background-color:#e1e1e1;width:40px;height: 25px;padding-bottom: 5px;right: 0;position: absolute;top: 2px;}
.modal-title {font-family: 'Montserrat', sans-serif;position:relative;padding-bottom:12px;width: auto;display: inline-block;}
.modal-title:after {content:'';position:absolute;height:4px;width:100px;background:#CCC;left:0;bottom:0;}
.modal-header h3 {font-family: 'Montserrat', sans-serif;position:relative;padding-bottom:12px;width: auto;display: inline-block;margin-top:0px;}
.modal-header h3:after {content:'';position:absolute;height:4px;width:100px;background:#CCC;left:0;bottom:0;}
.modal-body {overflow:hidden;}
.modal-footer {background:#ededed;border-radius: 0px 0px 5px 5px;}
.modal-footer .btn {border:1px solid #bfbfbf;}
.modal-body hr {margin-bottom: 3px;margin-top: 3px;}
.modal-body {}

.modal-body h5 {font-size:16px;font-weight:700;}
.modal-body p {margin-bottom:30px;}
.modal-body .input-group-btn .btn {padding:8px 18px;}
.modal-body .btn [class*="ti-"], .navbar .navbar-nav > li > a.btn [class*="ti-"] {vertical-align:top;}
.modal-footer {background:none;border:0;}

.customTable {}
.customTable tbody tr td:last-child button {}

.btn-edit, .btn-delete, .btn-criteria, .btn-reset, .btn-view {border:0px;width:20px;text-align:center;border-radius:5px;line-height:20px;padding:0px;margin:2px;box-sizing:border-box;}
.btn-edit {background:#20a8d8;color:#fff;}
.btn-delete {background:#f86c6b;color:#fff;}
.btn-criteria {background:#00a882;color:#fff;}
.btn-reset {background:#bb4e54;color:#fff;}
.btn-view {background:#38b2e4;color:#fff;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {background-color: #fe6949;border-color: #fe6949;}
.pagination > li > a, .pagination > li > span {color: #fe6949;}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {color: #01325d;}

/* Login Css */
.loginArea {box-sizing:border-box;border-radius:0;padding-right:0px;padding-left:0px;overflow:hidden;margin-top:80px;color:#ffffff;}
.loginArea .logoBig {border-radius: 50px;background:#fe6949;width:60px;height:60px;display:inline-block;text-align:center;line-height:60px;margin:auto;}
.loginArea .logoBig img {width:100%;max-width:50px;height:auto;}
.loginArea .bgWhite {box-sizing:border-box;padding:30px 30px 70px 30px;position:relative;z-index:1;background-color:rgba(1, 50, 93, 1);overflow:hidden;text-align:center;/*border-radius:100%;*/}
.loginArea .bgWhite i {font-size:150px;color: rgba(0,0,0,.03);position:absolute;bottom:0px;right:30px;/*transform: rotate(5deg);*/}
.loginArea .bgWhite a {color:#fff;font-size:12px;text-decoration:none;}
.loginArea .btnlogin {background:#fe6949;color:#fff;border-radius:0;border:0;margin-top:10px;}
.loginArea .taglineHead {text-align:right;padding-top:70px;padding-right:70px;}

.loginArea h1 {font-size:26px;font-weight:700;margin:0px auto 0px auto;padding:20px 0px;position:relative;color:#ffffff;}
.loginArea .form-group .form-control {box-shadow:none;border-radius:0 !important;font-weight:300;font-size:13px;letter-spacing:1px;}

.loginArea2 {box-sizing:border-box;border-radius:10px;box-shadow: 10px 10px 0 0 rgba(0,0,0,.3);padding-right:0px;padding-left:0px;overflow:hidden;}
.loginArea2 .bgWhite-alpha {box-sizing:border-box;padding:70px 30px 70px 30px;position:relative;z-index:1;background-color:rgba(255, 255, 255, .9);}

.backLogin {font-size:12px;padding:0px 10px 20px 10px;text-align:center;position:absolute;top:20px;left:20px;}
.copyright {font-size:12px;box-sizing:border-box;padding-top:30px;padding-left:30px;text-align:center;color: rgba(0, 0, 0, .40);}

.viewUserModal {border-bottom:1px solid #e1e1e1;overflow:hidden;padding:10px 0px;}
.viewUserModal .info {font-size:14px;color:#000;}
.viewUserModal .info span {font-size:12px;color:#999;width:80px;display:inline-block;}

.addComment {margin-top:0px;margin-bottom:25px;border-radius:5px;}
.addComment .form-group {position:relative;margin-bottom:0;}
.addComment .form-group input {border:1px solid #aaa;}
.addComment .form-group  button {background:none;color:#422db1;font-size:20px;font-weight:700;box-sizing:border-box;padding:2px 10px;border-radius:0px;text-decoration:none;border:0;border-radius:5px;position:absolute;right:0px;top:-1px;display:inline-block;}
.addComment .form-group button:hover {background:none;color:#422db1;}
.addComment .form-group button img {width:100%;max-width:20px;height:auto;}


.dis-Block {display:block;}
.height10 {height:10px;}
.widthFull {width:100%;}
.select2Custom {width:100%;border:1px solid #e1e1e1;margin-bottom:20px;}

input[readonly], .form-control[readonly]{
  background-color:transparent !important;
  border: transparent;
  font-size: 1em;
  box-shadow:none;
}

.m-p-lft-panel {padding:0px;}
.m-p-lft-panel a {display:block;padding:7px 15px;border-bottom:1px solid #e1e1e1;text-decoration:none;}
.m-p-lft-panel a:hover {display:block;padding:7px 15px;background:#f5f5f5;text-decoration:none;}
.m-p-lft-panel a.active {display:block;padding:7px 15px;background:#e1e1e1;text-decoration:none;border-left:2px solid  #aaa;color:#000;}
.m-p-lft-panel a:last-child {display:block;padding:7px 15px;border-bottom:0;}

.m-p-rgt-panel {}
.m-p-rgt-panel img {width:100%;height:auto;border:1px solid #aaa;border-radius:7px;}
.m-p-rgt-panel .button {border: 0;background: #fe6949;color: #fff;border-radius: 5px;padding: 6px 15px;font-size: 14px;margin-top: 10px;margin-bottom: 10px;}

.m-p-center-panel {}
.m-p-center-panel h1 {margin:10px 15px;padding:0px 0px 10px 0px;font-size:20px;border-bottom:1px solid #e1e1e1;}

.btn-bs-file{position:relative;}
.btn-bs-file input[type="file"]{position: absolute;top: -9999999;filter: alpha(opacity=0);opacity: 0;width:0;height:0;outline: none;cursor: inherit;}

.customForm {border-bottom:1px solid #aaa;border-left:1px solid #e1e1e1;background:#fff;margin:0 15px;overflow:hidden;}
.customForm .form-group {border-top:1px solid #e1e1e1;border-right:1px solid #e1e1e1;margin-bottom:0;padding-left:0;padding-right:0;}
.customForm .form-group label {padding:6px 12px;background:#f5f5f5;display:block;font-size:10px;margin-bottom:0;color:#666;}
.customForm .form-control {padding:6px 12px;border-radius:0;box-shadow:none;border:0;color:#000;}
.customForm button {border-radius:0;display:block;width:100%;}

